.field
  flex 1
  margin-right $unit_spacing
  width 100%

  &:last-child
    margin-right none

.field__label
  color $color_blue-6
  display block
  font-size 13px
  margin-bottom 5px
  width 100%

.field__input
  background-color $color_white
  border 1px solid $color_grey-1
  border-radius $unit_radius
  color $color_grey-2
  height $unit_field-height
  line-height $unit_field-height
  padding 0 $unit_field-padding
  width 100%

  +placeholder()
    color $color_grey-1
