.field
  height $unit_field-height

.field__input
  background-color $white
  border 1px solid $color_grey-1
  border-radius $unit_radius
  color $color_grey-2
  height $unit_field-height
  line-height $unit_field-height
  padding 0 $unit_field-padding

  +placeholder()
    color $color_grey-1
