.header
  background-color $color_blue-5
  height $unit_header-height
  margin-bottom $unit_spacing
  width 100%

.header__container
  container()
  align-items center
  display flex
  height $unit_header-height
