.table-vehicles
  overflow-x auto
  width 100%

.table-vehicles__container
  border 1px solid $color_grey-1
  border-radius $unit_radius
  display table
  min-width 100%

.table-vehicles__row
  background-color $color_white
  display table-row
  height $unit__table-row-height

  &:last-child
    .table-vehicles__cell
      border-bottom none

  &--header
    background-color $color_grey-0
    font-weight 600

.table-vehicles__cell
  border-bottom 1px solid $color_grey-1
  color $color_blue-6
  display table-cell
  height $unit__table-row-height
  vertical-align middle
  padding 0 $unit_table-row-padding
