.vehicles-table
  overflow-x auto
  padding-bottom $unit_spacing
  width 100%

.vehicles-table__container
  border 1px solid $color_grey-1
  border-radius $unit_radius
  display table
  width 100%
  min-width 630px

.vehicles-table__row
  background-color $color_white
  display table-row
  height $unit__table-row-height

  &:last-child
    .vehicles-table__cell
      border-bottom none

  &--header
    background-color $color_grey-0
    font-weight 600

.vehicles-table__cell
  border-bottom 1px solid $color_grey-1
  color $color_blue-6
  display table-cell
  font-size 13px
  height $unit__table-row-height
  padding 0 $unit_table-row-padding
  vertical-align middle

.vehicles-table__cell a
  color $color_blue-4
  text-decoration underline
  text-decoration-color $color_blue-2
