// Colors
$color_white = #ffffff
$color_black = #000000

$color_blue-1 = #f1f4f9
$color_blue-2 = #d8e9fb
$color_blue-3 = #8bc8f6
$color_blue-4 = #5ca5ef
$color_blue-5 = #2687e9
$color_blue-6 = #395b7b

$color_grey-1 = #c9d3dd
$color_grey-2 = #9da6ad

$color_green-1 = #4aba58

// Units
$unit_spacing = 19px
$unit_radius = 3px

$unit_button-height = 40px
$unit_button-padding = 35px

$unit_field-height = 40px
$unit_field-padding = 15px
